body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: medium;
}
h1 {
    font-weight: bold;
}
h1 {
    font-size: 1.7em;
}
h1.c111111 {
    color: #111111;
}
h1.c222222 {
    color: #222222;
}
h1.c333333 {
    color: #333333;
}
h1.c444444 {
    color: #444444;
}
h1.c555555 {
    color: #555555;
}
h1.c666666 {
    color: #666666;
}
h1.c777777 {
    color: #777777;
}
h1.c888888 {
    color: #888888;
}
h1.c999999 {
    color: #999999;
}
h1.caaaaaa {
    color: #aaaaaa;
}
h1.cbbbbbb {
    color: #bbbbbb;
}
h1.ccccccc {
    color: #cccccc;
}
h1.cdddddd {
    color: #dddddd;
}
h1.ceeeeee {
    color: #eeeeee;
}

